<!DOCTYPE html>
<html>
  <head>
    <title>Mad, MadLibs!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>It's a Mad, Mad, Mad Libs World</h1>
      <hr>
      <p> welcome to @Model.ProperNoun Madlib!
      </p>
      <p> this is your verb: @Model.Verb </p>
      <p> this is your Adjective: @Model.Adjective </p>
      <p> this is your Place: @Model.Place </p>
      <p> this is your Number: @Model.Number </p>
      <p> this is your Year: @Model.Year </p>
    </div>
  </body>  
</html>
    <!-- <h3>Want an amazing story? Please fill out the form, then click the Create MadLibs button!</h3>
    <div id = "user">
      <p>Enter your name: <input type = "text" id = "username"></p>
    <p>Favorite Star Wars character: <input type = "text" id = "stwars"></p>
    <p>Favorite Star Trek character: <input type = "text" id = "sttrek"></p>
    <p>Favorite TV Show: <input type = "text" id = "tvShow"></p>
    <p>Enter a number: <input type = "text" id = "num1"></p>
      <p>Enter a place: <input type = "text" id = "place"></p>
      <p>Enter a year: <input type = "text" id = "year"></p>
    </div>
    <p>
      <input type = "button" value = "Create MadLibs" onClick = "playMadLibs();"></p>
    <p id = "showStory"></p> -->